<link href="css/sortButton.css" rel ="stylesheet" type="text/css" />
<div id="sortMainDiv">
    <p onclick="sortAndRender(this)">Most Upvotes</p>
    <p onclick="sortAndRender(this)">Least Upvotes</p>
    <p onclick="sortAndRender(this)">Most comments</p>
    <p onclick="sortAndRender(this)">Least Comments</p>
</div>